/* You can add global styles to this file, and also import other style files */

@import "@fortawesome/fontawesome-free/css/all.min.css";
div,p,h1,h2,h3,h4,h5,h6,li,span{
    font-family: 'Poppins', sans-serif !important;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-7px {
    margin-top: 7px;
}

.mt-2 {
    margin-top: 2rem;
} 

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}

.border {
    border: 1px solid #c3cbd4;
    border-radius: 5px;
}